{% extends 'accounts/base1.html' %}
{% load crispy_forms_tags %}
{% block body %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="container">
    {% if request.user.is_authenticated %}

    <h3>User : {{request.user}}</h3>
    <br>

<div class="container col-lg-8">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th width="400" >Filename</th>
        <th width="400" >Link</th>
      </tr>
    </thead>

	{% for da in data %}
	<tbody>
      <tr>
        <td width="200" >{{da.Filename}}</td>
        <td width="200" ><a href="{{da.Browse.url}}">Download</a></td>
      </tr>
    </tbody>
	{% endfor %}

  </table>
</div>

    {%else%}
    <p>You must login first</p>
    <a href="{% url 'login' %}">Logout</a>
    {% endif %}
<br><br>

</div>
{% endblock %}
